apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic
  labels:
    app: petclinic
spec:
  replicas: 3
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      containers:
        - name: petclinic-container
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "us"
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: petclinic-db
                  key: host
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: petclinic-db
                  key: user
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: petclinic-db
                  key: password
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: petclinic-db
                  key: name
