apiVersion: apps/v1
kind: Deployment
metadata:
  name: petclinic
  labels:
    app: petclinic
spec:
  replicas: 3
  selector:
    matchLabels:
      app: petclinic
  template:
    metadata:
      labels:
        app: petclinic
    spec:
      serviceAccountName: petclinic-app

      containers:
        - name: petclinic-container
          image: nginx
          ports:
            - containerPort: 8080

          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "eu"

            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: petclinic-db-secrets-eu
                  key: DB_HOST

            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: petclinic-db-secrets-eu
                  key: DB_USER

            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: petclinic-db-secrets-eu
                  key: DB_PASSWORD

            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: petclinic-db-secrets-eu
                  key: DB_NAME

          volumeMounts:
            - name: db-secrets
              mountPath: "/secrets"
              readOnly: true

      volumes:
        - name: db-secrets
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: "petclinic-secrets-eu"
