apiVersion: networking.gke.io/v1
kind: MultiClusterIngress
metadata:
  name: petclinic-ingress
  namespace: default
spec:
  template:
    spec:
      backend:
        serviceName: petclinic-mcs
        servicePort: 80
  vip: "34.120.243.59"
