apiVersion: networking.gke.io/v1
kind: MultiClusterIngress
metadata:
  name: petclinic-ingress
  namespace: default
  annotations:
    networking.gke.io/global-static-ip-name: "petclinic-mci-ip"
    networking.gke.io/managed-certificates: "petclinic-cert"
spec:
  template:
    spec:
      tls:
        - hosts:
            - petclinic.oju.app
          secretName: dummy-secret
      rules:
        - host: petclinic.oju.app
          http:
            paths:
              - path: /.well-known/acme-challenge/*
                backend:
                  serviceName: petclinic-mcs
                  servicePort: 80
              - path: /*
                backend:
                  serviceName: petclinic-mcs
                  servicePort: 80
      backend:
        serviceName: petclinic-mcs
        servicePort: 80

