apiVersion: networking.gke.io/v1
kind: MultiClusterIngress
metadata:
  name: petclinic-ingress
  namespace: default
  annotations:
    networking.gke.io/global-static-ip-name: "petclinic-mci-ip"
spec:
  template:
    spec:
      rules:
        - host: petclinic.oju.app
          http:
            paths:
              - path: /
                backend:
                  serviceName: petclinic-mcs
                  servicePort: 80
      backend:
        serviceName: petclinic-mcs
        servicePort: 80
