apiVersion: networking.gke.io/v1
kind: MultiClusterIngress
metadata:
  name: petclinic-ingress
  namespace: default
  annotations:
    networking.gke.io/global-static-ip-name: "petclinic-mci-ip"
spec:
  template:
    spec:
      rules:
        - host: petclinic.oju.app
          http:
            paths:
              - path: /.well-known/acme-challenge/
                pathType: Prefix
                backend:
                  serviceName: cm-acme-http-solver
                  servicePort: 8089

              - path: /
                pathType: Prefix
                backend:
                  serviceName: petclinic-mcs
                  servicePort: 80

      tls:
        - hosts:
            - petclinic.oju.app
          secretName: petclinic-tls
