apiVersion: networking.gke.io/v1
kind: MultiClusterIngress
metadata:
  name: petclinic-ingress
  namespace: default
  annotations:
    networking.gke.io/global-static-ip-name: "petclinic-mci-ip"
spec:
  template:
    spec:
      backend:
        serviceName: petclinic-mcs
        servicePort: 80
