apiVersion: networking.gke.io/v1
kind: MultiClusterService
metadata:
  name: petclinic-mcs
  namespace: default
spec:
  template:
    spec:
      selector:
        app: petclinic
      ports:
        - name: http
          protocol: TCP
          port: 80
          targetPort: 8080
