apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: petclinic-secrets-us
spec:
  provider: gcp
  parameters:
    secrets: |
      [
        {
          "resourceName": "projects/petclinic-cloud/secrets/petclinic-db-host-us/versions/latest",
          "fileName": "host"
        },
        {
          "resourceName": "projects/petclinic-cloud/secrets/petclinic-db-user/versions/latest",
          "fileName": "user"
        },
        {
          "resourceName": "projects/petclinic-cloud/secrets/petclinic-db-password/versions/latest",
          "fileName": "password"
        },
        {
          "resourceName": "projects/petclinic-cloud/secrets/petclinic-db-name/versions/latest",
          "fileName": "dbname"
        }
      ]
