apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: petclinic-secrets-eu
spec:
  provider: gcp
  parameters:
    secrets: |
      [
        {
          "resourceName": "projects/petclinic-cloud/secrets/petclinic-db-host-eu/versions/latest",
          "fileName": "host"
        },
        {
          "resourceName": "projects/petclinic-cloud/secrets/petclinic-db-user/versions/latest",
          "fileName": "user"
        },
        {
          "resourceName": "projects/petclinic-cloud/secrets/petclinic-db-password/versions/latest",
          "fileName": "password"
        },
        {
          "resourceName": "projects/petclinic-cloud/secrets/petclinic-db-name/versions/latest",
          "fileName": "dbname"
        }
      ]
  secretObjects:
    - secretName: petclinic-db-secrets-eu
      type: Opaque
      data:
        - objectName: host
          key: DB_HOST
        - objectName: user
          key: DB_USER
        - objectName: password
          key: DB_PASSWORD
        - objectName: dbname
          key: DB_NAME
