apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: petclinic-secrets
spec:
  provider: gcp
  parameters:
    secrets:
      - resourceName: "projects/petclinic-479121/secrets/petclinic-db-host-eu/versions/latest"
        fileName: "host"
      - resourceName: "projects/petclinic-479121/secrets/petclinic-db-user/versions/latest"
        fileName: "user"
      - resourceName: "projects/petclinic-479121/secrets/petclinic-db-password/versions/latest"
        fileName: "password"
      - resourceName: "projects/petclinic-479121/secrets/petclinic-db-name/versions/latest"
        fileName: "dbname"
