apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: petclinic-secrets
spec:
  provider: gcp
  parameters:
    secrets:
      - version: latest
        projectId: petclinic-cloud
        secret: petclinic-db-host-eu
      - version: latest
        projectId: petclinic-cloud
        secret: petclinic-db-user
      - version: latest
        projectId: petclinic-cloud
        secret: petclinic-db-password
      - version: latest
        projectId: petclinic-cloud
        secret: petclinic-db-name
